/* Variables et utilitaires
   ========================================================================== */

/****** Variables (peuvent être utilisées dans tous les fichiers) *******/
:root {
    --bouton-box-shadow: 5px 5px 5px;

    --couleur-titres-h1-h3:rgb(3, 3, 3);
    --couleur-form: #cccccc2f;
    --couleur-bouton: rgba(134, 91, 241, 0.853);
    /* --couleur-bouton-hover: azure; */
    --couleur-bouton-hover: var(--couleur-bleu-jacana);
    --couleur-bleu-jacana: rgb(6, 6, 6);
    --couleur-brun-jacana: rgb(120, 76, 76);

    --police-titre: 'News Cycle', sans-serif;
    --police-texte: 'Roboto Slab', serif;

    --nav-background-color: darkmagenta;
    --nav-color: white;
    --nav-hover-color: #fff;
    --nav-hover-background-color: var(--couleur-bleu-jacana);
    --nav-border-color: rgba(134, 101, 212, 0.747);
}

/*** Clearfix ***/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Images fluides */
img {
    max-width: 100%;
}

/*** Styles de base ***/
abbr[title] {
    text-decoration: none;
    cursor: help;
}

abbr[title]:hover {
    background-color: rgba(244, 161, 71, 0.25);
}

/** Accessibilité
  * Pour cacher visuellement tout en gardant accessible un contenu:
  * screen-reader-only ou visuallyhidden **/

.screen-reader-only,
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.screen-reader-only.focusable:active,
.screen-reader-only.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}